body {
    color:palevioletred;
    font-family: verdana;
}
h1 {color:rgb(255, 191, 0);
    font-size:xx-large;
    background-color: plum;
    font-family: verdana;}

h2 {color:linen;
        background-color: orange;
        font-family: verdana}

        img {max-width: 20%;
            height: auto}
li {color: orangered}

h3 {font-family: verdana}
